.scorebox {
    border: 4px solid;
    width: 900px;
    text-align: center;
    padding: 20px;;
    margin: 70px;
    height:450px;

}
h1>#comp{
    background-color: rgb(220, 163, 112);
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
h1>#user{
    background-color: rgb(170, 112, 220);
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;

}
h1>#result{
    background-color: rgb(100, 218, 002);
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    
}
.choices {
    margin: 50px 0;
    text-align: center;
}
.choose{
    display:inline-block;
    width:auto;
    transition: all .3s ease;
    background-color: aquamarine;
    height: 50px;
}



